  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  